    body { 
      margin: 0;
      padding: 0;
      border: 0;
      height: 100%;
      width: 100%;
      background: #ffffff;
    }

    input { display: block;}


    input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      /* Styling checkbox */
      width: 30px;
      height: 30px;
      margin: 1px;
      display: block;
      position: relative;
      cursor:pointer;
      background-color: 45484d;
    }

    input[type="checkbox"]:checked {
      background-color: #1c9099;
    }

        
    .grid div { 
      display: block; 
      float: left;
    }

    .grid {
      width: 550px;
      height: 550px;
      margin: 0 auto;
    }

    .intro {
      color: #5e5e5e;
      font-family: Lato, Arial, sans-serif;
      margin: 30 auto;
      width: 550px;
    }

    a {
      color: #5e5e5e;
    }